@import "../../variables/colors/colors";

.forms {
  padding: 40px 0;
  background-color: $primaryBgcolor;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.formsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10em;
}
.bachelorLink {
  display: block;
  text-align: center;
  margin: 20px;
  transition: transform 0.3s ease-in-out;
  text-decoration-line: none;
  .imgTitle {
    display: flex;
    flex-direction: column;
    span{
      padding-top: 0.5em;
      color: $primaryBlue;
      font-size: 2em;
      font-weight: 700;
      transition: background-color 0.8s ease, transform 0.8s ease;
    }
  }
}
.bachelorLink:hover {
  transform: scale(1.05);
      text-decoration-line: none;
      span:hover{
      color: $primaryBlue;
      font-weight: 800;
  transform: scale(1.55); 
      }
     
}
.bachelorImg {
  width: 100%;
  max-width: 550px;
  height: auto;
  object-fit: cover;
  transition: box-shadow 0.3s ease-in-out;
}
.bachelorImg:hover {
  box-shadow: 0 8px 16px $primaryBlue;
}

@media (max-width: 768px) {
  .bachelorImg {
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .bachelorImg {
    max-width: 150px;
  }
}
