@import "../../variables/colors/colors";
.locations {
//   padding: 2em 0;

  .container {
    .locationBox {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-around;
      padding: 20px;
  }
  .location {
      flex: 1 1 45%;
      max-width: 45%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      background-color: #fff;
      transition: transform 0.2s;
      border: .9px solid $primaryBlue;

  }
  .location h4 {
      text-align: center;
      margin: 10px 0;
      font-family: Arial, sans-serif;
  }
  .location iframe {
      width: 100%;
      
  }
  .location:hover {
      transform: scale(1.05);
  }
  @media (max-width: 768px) {
      .location {
          flex: 1 1 100%;
          max-width: 100%;
      }
  }
  }
}
