@import "../../../../../src/components//variables//colors//colors";

.img-wrapper{
    margin-top: 14em;
    padding-bottom: 4em;
    display: flex;
    justify-content: center;
    .btn-wrapper {
      position: relative;
      .back-button {
        position: absolute;
        right: 15px;
        color: $primaryBlue;
        background-color: $primaryBlue;
        margin-bottom: 20px;
        padding: 10px 20px;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: $primaryBlue;
        }
      }
    }
}